h4, h5, p {
    margin: 0 !important;
}

.money {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.5rem;
    margin-bottom: 0 !important;
}

    .money:hover {
        text-decoration: none;
    }

.deposit {
    color: #21CEB0;
}
