

<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="d-flex align-content-center ">
                <i class="far fa-check-square" style="padding: 20px 0"></i>

                @Html.ActionLink("Quản lí lãi suất", "index", "Sach", new { @class = "w-100 ml-3" })

            </li>
            <li class="d-flex align-content-center ">
                <i class="fas fa-calendar-alt" style="padding: 20px 0"></i>

                @Html.ActionLink("Quản lí kì hạn", "index", "Sach", new { @class = "w-100 ml-3" })

            </li>
            <li class="d-flex align-content-center ">
                <i class="fas fa-map-marker-alt" style="padding: 20px 0"></i>

                @Html.ActionLink("Quản lí báo cáo", "index", "Sach", new { @class = "w-100 ml-3" })

            </li>

        </ul>
    </nav>
</div>