
<div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar__list">
            <li class="d-flex align-content-center ">
                <i class="fas fa-copy" style="padding: 20px 0"></i>

                @Html.ActionLink("Quản lí Khách hàng", "Index", "Customer", new { @class = "w-100 ml-3" })

            </li>

            <li class="d-flex align-content-center ">
                <i class="fas fa-magic" style="padding: 20px 0"></i>

                @Html.ActionLink("Quản lí tài khoản nhân viên đã quá hạn", "Index", "SavingBooking", new { @class = "w-100 ml-3" })

            </li>

        </ul>
    </nav>
</div>