@model QuanLiSoTietKiem.Common.UserDetail

@{
    ViewBag.Title = "Đăng nhập vào hệ thống";
    Layout = "~/Views/Shared/_LayoutNo.cshtml";
}

    <div class="limiter">
        <div class="container-login100">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="~/Assets/Login/images/img-01.png" alt="IMG">
                    </div>
                    <div class="login100-form validate-form">
                        <span class="login100-form-title">
                            Member Login
                        </span>

                        <div class="wrap-input100 validate-input">                         
                            <input class="input100" type="text" name="UserName" placeholder="Tài khoản">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input class="input100" type="password" name="Password" placeholder="Mật khẩu">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["Error"]
                            </div>
                        }
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Đăng nhập
                            </button>
                        </div>

                    </div>
                </div>
            }
            </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/js/main.js"></script>

