
@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="">
    <div class="container-fluid">
        <div class="row justify-content-sm-between align-content-center" style="margin: 0px 15px 10px 0px">
            <div class="col-md-6 text-left mb-2">
                <h2 class="heading-section">Danh sách chức vụ</h2>
            </div>
            <div>
                <button class="btn btn-outline-secondary">@Html.ActionLink("Thêm chức vụ", "Create")</button>
            </div>
        </div>
        <div class="table">
            <div class="col-md-12">
                <table class="table table-striped">

                    <tr>

                        <th>Chức vụ</th>
                        <th>Số lượng nhân viên</th>
                    </tr>

                    @foreach (var c in ViewData["officeCounts"] as List<QuanLiSoTietKiem.Common.OfficeCount>)
                    {
                        <tr>

                            <td>
                                @c.Name
                            </td>
                            <td>
                                @c.Count
                            </td>
                          
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>

